{% load static %}
<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ModuMath Editor Next tldraw MVP</title>
  <link rel="stylesheet" href="{% static 'editor_next/tldraw_assets/editor-next-app.css' %}?v=ppt-line-tools-1">
</head>
<body>
  <div id="root" data-editor-mode="tldraw"></div>
  <script type="module" src="{% static 'editor_next/tldraw_assets/editor-next-app-tutor.js' %}?v=ppt-line-tools-1"></script>
</body>
</html>
